[submodule "plugin/vimperator-pocket"]
	path = plugin/vimperator-pocket
	url = https://github.com/pschmitt/vimperator-pocket.git
[submodule "vimperator-plugins"]
	path = vimperator-plugins
	url = https://github.com/vimpr/vimperator-plugins
